In [5]:
#membership operators--->in,not in
str='abc xyz'
'x' not in str
print('a' in str)
print('a' not in str)
'a' not in str

True
False

False

In [6]:
#Identity operators--->is,is not
x = 10
y = 20
x is y

False

In [7]:
print(id(x),id(y))

140724988523632 140724988523952

In [8]:
x = 10
y = 20
print("x<y") if x<y else print("x>y")

x<y

In [9]:
if x<y :
    print("x<y")
    if 12<22:
        print("Hello")
    else :
        print("x>y")

x<y
Hello

In [12]:
#accept a num as an input and print whether a given number is positive or negative or zero
a = int(input("ENter a num"))
if a>0 :
    print("positive")
elif a<0 :
    print("Negative")
else :
    print("zero")

ENter a num0
zero

In [21]:
# accept a num which is divisible by 2,3 and not 4
n = int(input("Enter a num"))
if (n%2==0 and n%3==0 and n%4!=0):
    print("YES")

Enter a num6
YES

In [13]:
a=int(input("Enter 1st sub marks "))
b=int(input("Enter 2nd sub marks "))
c=int(input("Enter 3rd sub marks "))
if(a>30 and b>30 and c>30):
    avg = (a+b+c)/3
    if avg>75 :
        print("A grade")
    elif (avg>65 and avg<75):
        print("B grade")
    elif (avg>50 and avg<65):
        print("C grade")
    elif (avg>30 and avg<50):
        print("D grade")
else :
    print("Fail")

Enter 1st sub marks 39
Enter 2nd sub marks 36
Enter 3rd sub marks 56
D grade

In [14]:
#while loop
i = 1
n = int(input())
while i<=n:
    print(i,end = ' ')
    i += 1

4
1 2 3 4

In [2]:
#while loop
i = 1
sum = 0
n = int(input())
while i<=n:
    #print(sum, end = ' ')
    sum = sum+i
    i =i+1
print(sum)

5
15

In [4]:
i = 1
sum = 0
n = int(input())
while i<=n:
    if i%2 == 0:
        sum = sum+i
    i =i+1
print(sum)

10
30

In [1]:

n = int(input())
while n!=0:
    print(n%10,end = ' ')
    n=n//10

123
3 2 1

In [3]:
n = int(input())
sum = 0
while n!=0:
    sum = sum + (n%10)
    n=n//10
print(sum)

123
6

In [12]:
str = "application1889"
i=0
sum=0
#while i<len(str):
#str = "application1889"
   # if(str[i].isdigit()):
    #    sum=sum+int(str[i])
    #i=i+1
print(sum)
#if str[i].ord()>=48 and str[i].ord()<=57
for i in str:
    if i.isdigit():
        sum +=int(i)
print(sum)

0
26

In [15]:
#Print n natural numbers using for loop
i=0
n= int(input("Enter value"))
for i in range(1,n+1) :
    print(i)

Enter value5
1
2
3
4
5

In [19]:
i=0
str= (input("Enter value"))
for str in range(1,len(str),4) :
    print(i)

Enter valueharikateju
0
0
0